#navBarLogo{
    height: 60px;
    width: 150px; 
}
#navBarDashLogo{
    background-color: #435466;
    color: white;
    font-family: "Prompt", sans-serif
}

#sideBarDash{
    height: 90vh;
    background-color: #435466;
    margin: 0;
}

#sideBarLinks a{
    font-family: "Prompt", sans-serif;
    margin-left: 20px;
    color: #f0f4fc;
}

.noMargin{
    margin:0
}

#rightDashboard{
    background-color: #f0f4fc;
}

.buttonStyleGlobal{
    background-color: #ff914a;
    color: white;
}
